EMAIL = false #false deactivates email verification for email/password verifcation

API_KEY = mailgun api key
DOMAIN_KEY = mailgun domain key
session_secret = thisismysessionkeythatneedsanupdate
pguser = postgres
pgpassword = example
pghost = postgresdockerdashboard
pgdatabase = postgres
pgport = 5432
ssl = allow
mongo = mongodb://root:example@mongo:27017/
mongoUser = root
mongoPassword = example
URL = mysubdomain.domain.com
version = 1.4
legacyWatch=true
CHOKIDAR_USEPOLLING=true
SKIP_PREFLIGHT_CHECK=true
shaHashKey=ENTERASECRETKEYHERE

useRemoteLogin = true #true activates remote login checks for /checkLogin and /logout
remoteLoginUrl = #if useRemoteLogin is true enter remote login api endpoint
remoteLogoutUrl = #if useRemoteLogin is true enter remote logout api endpoint
REACCT_APP_LOGIN_LINK = http://gstreet.test/login?redirect=finndash