EMAIL = false
API_KEY = mailgun api key
DOMAIN_KEY = mailgun domain key
session_secret = thisismysessionkeythatneedsanupdate
pguser = postgres
pgpassword = example
pghost = postgresdockerdashboard
pgdatabase = postgres
pgport = 5432
ssl = allow
mongo = mongodb://root:example@mongo:27017/
mongoUser = root
mongoPassword = example
URL = mysubdomain.domain.com
version = 1.4
legacyWatch=true
CHOKIDAR_USEPOLLING=true
SKIP_PREFLIGHT_CHECK=true
shaHashKey=ENTERASECRETKEYHERE