.widgetBox {
  overflow: hidden;
  z-index: 1;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  /* width: 400px; */
}

.widgetBox:hover {
  overflow: hidden;
  z-index: 99 !important;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

.widgetHeader {
  padding: 5px;
  z-index: 1;
  background-color: #1d69ab;
  color: #fff;
  /* display: flex; */
  flex-direction: row;
}

.menuHeader {
  padding: 5px;
  z-index: 1;
  background-color: #1d69ab;
  color: #fff;
  /* display: flex; */
  flex-direction: row;
}

.widgetButtonHead {
  float: right;
  background-color: #1d69ab;
  border: none;
  color: white;
  box-sizing: border-box;
  display: block;
}

.widgetButtonFoot {
  background-color: #1d69ab;
  border: none;
  color: white;
  box-sizing: border-box;

}

.widgetFooter {
  padding: 2px;
  z-index: 1;
  background-color: #1d69ab;
  color: #1d69ab;
  text-align: right;
  box-sizing: border-box;
  width: 100%;
  /* min-height: 10px; */

}
