.login-splash {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 5px;
  /* padding: 5px; */
  border-radius: 10px;
  border-color: #1d69ab;
  box-sizing: border-box;
  /* width: 20%; */
}

.login-div {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
  margin: auto;
  text-align: center;
  flex-wrap: nowarp;
  flex-grow: auto;
  padding: 0px;
  margin: 2px;
}

.login-div-options {
  display: flex;
  font-size: 20px;
  flex-wrap: nowarp;
  padding: 10px;
  color: #1d69ab;
}

.login-div-options > a {
  color: #1d69ab;
}
.div-inline-login {
  display: flex;
  flex-direction: row;

  flex-flow: row wrap;
  align-items: center;
  padding: 10px;
  flex-wrap: nowrap;
}
.login-text {
  margin: auto;
  color: #1d69ab;
}
