.topnav {
  background-color: #1d69ab;
  display: flex;
  /* overflow: hidden; */
}

.navItem {
  /* display: flex; */
  color: white;
}

.navLink {
  color: white;
}

.navItemEnd {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.mainNavigation {
  background-color: #1d69ab;
  display: flex;
}
