body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  /* overflow: hidden; */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 10px;
  margin-inline: 25px;
  /* margin-bottom: 25px; */
  color: white;
}

.div-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 10px;
  margin-inline: 25px;
}

.div-side {
  display: flex;
  /* flex-flow: row wrap; */
  /* align-items: center; */
  /* padding: 10px; */
  margin-inline: 2px;
}

.btn {
  margin: 5px;
}

.stockSearch {
  background-color: #333;
  /* width: 25%; */
  align-items: center;
}

label {
  padding-inline: 10px;
}

/* The sidebar menu */
.sidenav {
  /* height: 100%; Full-height: remove this if you want "auto" height */
  /* width: 15%; Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2; /* Stay on top */
  /* top: 0; Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 1px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.widgetBox {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

.widgetBox:hover {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

.widgetHeader {
  padding: 5px;
  z-index: 1;
  background-color: #2196f3;
  color: #fff;
  /* display: flex; */
  flex-direction: row;
}

.headerButtons {
  float: right;
}

.widgetFooter {
  /* overflow: hidden; */
  padding: 2px;
  /* cursor: move; */
  z-index: 1;
  background-color: #2196f3;
  color: #fff;
  flex-direction: row;
  text-align: right;
}

.dropDiv {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
}

.dropbtn {
  text-align: left;
  background-color: #333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #ddd;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.widgetBodyTable {
  color: black;
  background-color: white;
}

.faIcon {
  color: white;
  visibility: auto;
  opacity: 1;
}

.faIconFade {
  color: green;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.centerTE {
  text-align: center;
}

.rightTE {
  text-align: right;
}

.leftTE {
  text-align: left;
}
